h2 {
				color:#000;
				text-align:center;	
				font-style:serif;
}
body {
			 background-color: lightgrey;
				font-family: sens-serif;
}
p {
				color: red;
				text-align: center;
}
.profile-isc {
				width:100px;
				height:100px;
				background-color:#000;
				background: url('./img/isc-int.jpg');
				background-position:center;
				background-size:cover;
				color:#96FF00;
				border: 2px solid lightgrey;
				border-radius:50px;
				margin: auto;
				margin-top:80px;
				z-index:1;
}
#contect {
				margin:auto;
				background-color: blue;
				width: 120px;
				height:50px;
				border: 2.50px;
				border-radius:5px;
				align-items: center;
				display: flex;
				justify-content:center;
				color: #fff;
				
}
#profile1 {
				width: 100px;
				height: 100px;
				background-color: red;
				border: 2px;
				border-radius: 50px;
				margin: auto;
				z-index: 1;
				background: url('./img/about.png');
				background-position:center;
				background-size:cover;
}
#start1 {
				margin:auto;
				background-color: blue;
				width: 120px;
				height:50px;
				border: 2.50px;
				border-radius:5px;
				align-items: center;
				display: flex;
				justify-content:center;
				color: #fff;
}
#profile2 {
				width: 100px;
				height: 100px;
				background-color: red;
				border: 2px;
				border-radius: 50px;
				margin: auto;
				z-index: 1;
				background: url('./img/contect.png');
				background-position:center;
				background-size:cover;
}
#profile3 {
				width: 100px;
				height: 100px;
				background-color: red;
				border: 2px;
				border-radius: 50px;
				margin: auto;
				z-index: 1;
				background: url('./img/security.png');
				background-position:center;
				background-size:cover;
}
.w3-modal-content {
				border: 2px;
				border-radius:10px;
}
